
   <section id="thehero">
    <div class="the-inner">
      <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <h1>See Our Menu</h1>
            </div>
           </div>
      </div>
    </div>
    </section>

   
  
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">First name</label>
              <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Last name</label>
              <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationCustomUsername" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a username.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom03" class="form-label">City</label>
              <input type="text" class="form-control" id="validationCustom03" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom04" class="form-label">State</label>
              <select class="form-select" id="validationCustom04" required>
                <option selected disabled value="">Choose...</option>
                <option>...</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom05" class="form-label">Zip</label>
              <input type="text" class="form-control" id="validationCustom05" required>
              <div class="invalid-feedback">
                Please provide a valid zip.
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  

  <section class="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5 py-5">
               <p class="menu-p text-white py-5">Our Delicious Menu</p>
               <p class="the-p py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique commodi omnis. Ad magni perspiciatis, voluptatum repellat.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 p-3">
                <div class="card ">
                    <img src="../../../../assets/gallery_6.jpeg" class="card-img-top " alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-white ">
                            Salted Fried Chicken
                        </h5>
                        <p class="price">19 <sup>.00</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                    </div>
                  </div>
            </div>


            <div class="col-md-3 p-3 margin ">
                <div class="card event-card  border-0 ">
                  <img src="../../../../assets/gallery_7.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class= "text-white card-title">Surfing at Philippines</h5>
                    <p class="price">19 <sup>.00</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                  </div>
                </div>
               </div>


               <div class="col-md-3 p-3 ">
                <div class="card event-card  border-0 ">
                  <img src="../../../../assets/image-min.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class= "text-white card-title">Surfing at Philippines</h5>
                    <p class="price">25 <sup>.45</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                  </div>
                </div>
               </div>
            
               <div class="col-md-3 p-3 margin ">
                <div class="card event-card  border-0 ">
                  <img src="../../../../assets/gallery_8.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class= "text-white card-title">Surfing at Philippines</h5>
                    <p class="price">30<sup>.00</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                  </div>
                </div>
               </div>
            
        </div>
        <div class="row">
            <div class="col-md-3 p-3">
                <div class="card  ">
                    <img src="../../../../assets/gallery_6.jpeg" class="card-img-top " alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-white ">
                            Salted Fried Chicken
                        </h5>
                        <p class="price">19 <sup>.00</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                    </div>
                  </div>
            </div>


            <div class="col-md-3 p-3 margin ">
                <div class="card event-card  border-0 ">
                  <img src="../../../../assets/gallery_7.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class= "text-white card-title">Surfing at Philippines</h5>
                    <p class="price">19 <sup>.00</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                  </div>
                </div>
               </div>


               <div class="col-md-3 p-3 ">
                <div class="card event-card  border-0 ">
                  <img src="../../../../assets/image-min.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class= "text-white card-title">Surfing at Philippines</h5>
                    <p class="price">25 <sup>.45</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                  </div>
                </div>
               </div>
            
               <div class="col-md-3 p-3 margin ">
                <div class="card event-card  border-0" >
                  <img src="../../../../assets/gallery_8.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class= "text-white card-title">Surfing at Philippines</h5>
                    <p class="price">30<sup>.00</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                  </div>
                </div>
               </div>
        </div>
    </div>
  </section>

  <div class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 mt-5">
              <h1 class="text-white text-center my-5 py-5 "> Coffee Cornor</h1> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 p-3">
                <div class="card  ">
                    <img src="../../../../assets/c.jpg" class="card-img-top " alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-white ">
                            Expresso
                        </h5>
                        <p class="price">19 <sup>.00</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                    </div>
                  </div>
            </div>


            <div class="col-md-3 p-3 margin ">
                <div class="card event-card  border-0" >
                  <img src="../../../../assets/q.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class= "text-white card-title">Black Latte</h5>
                    <p class="price">19 <sup>.00</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                  </div>
                </div>
               </div>


               <div class="col-md-3 p-3 ">
                <div class="card event-card  border-0" >
                  <img src="../../../../assets/a-min.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class= "text-white card-title">Waker</h5>
                    <p class="price">25 <sup>.45</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                  </div>
                </div>
               </div>
            
               <div class="col-md-3 p-3 margin ">
                <div class="card event-card  border-0" >
                  <img src="../../../../assets/d-min.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class= "text-white card-title">Darpresso</h5>
                    <p class="price">30 <sup> .00</sup></p>
                      <p class="card-text the-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat inventore molestias vel suscipit explicabo..</p>
                  </div>
                </div>
               </div>
            
        </div>
    </div>
  </div>


