<nav class="navbar navbar-expand-lg fixed-top  bg-transparent">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="home">Brussels</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span ></span>
      <span ></span>
      <span ></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-link active mt-2" aria-current="page" href="" routerLink="home">Home</a>
        <a class="nav-link mt-2" href="" routerLink="menu">menu</a>
        <a class="nav-link mt-2" href="" routerLink="gallery">gallery</a>
        <a class="nav-link mt-2" href="" routerLink="Reservation">Reservation</a>
        <a class="nav-link " href="#"> <button type="button" class="btn h border-0 btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal">
          Conatct US
        </button></a>
      </div>
    </div>
  </div>
</nav>